# Data Preprocessing & EDA

## Attaching Resources

### Importing Necessary Libraries

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as pe
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import IsolationForest

import warnings

warnings.filterwarnings('ignore')
plt.rcParams['figure.figsize'] = (12,2)
plt.rcParams['figure.dpi'] = 250
sns.set_style(style='darkgrid')
plt.tight_layout()
%matplotlib inline

### Adding Dataset

In [2]:
churn = pd.read_csv('https://raw.githubusercontent.com/kunal-mallick/Churn_Prediction/main/resources/Churn.csv')

churn

,Unnamed: 0,state,area.code,account.length,voice.plan,voice.messages,intl.plan,intl.mins,intl.calls,intl.charge,...,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn
0,1,KS,area_code_415,128,yes,25,no,10.0,3,2.70,...,110,45.07,197.4,99,16.78,244.7,91,11.01,1,no
1,2,OH,area_code_415,107,yes,26,no,13.7,3,3.70,...,123,27.47,195.5,103,16.62,254.4,103,11.45,1,no
2,3,NJ,area_code_415,137,no,0,no,12.2,5,3.29,...,114,41.38,121.2,110,10.30,162.6,104,7.32,0,no
3,4,OH,area_code_408,84,no,0,yes,6.6,7,1.78,...,71,50.9,61.9,88,5.26,196.9,89,8.86,2,no
4,5,OK,area_code_415,75,no,0,yes,10.1,3,2.73,...,113,28.34,148.3,122,12.61,186.9,121,8.41,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,HI,area_code_408,50,yes,40,no,9.9,5,2.67,...,127,40.07,223,126,18.96,297.5,116,13.39,2,no
4996,4997,WV,area_code_415,152,no,0,no,14.7,2,3.97,...,90,31.31,256.8,73,21.83,213.6,113,9.61,3,yes
4997,4998,DC,area_code_415,61,no,0,no,13.6,4,3.67,...,89,23.9,172.8,128,14.69,212.4,97,9.56,1,no
4998,4999,DC,area_code_510,109,no,0,no,8.5,6,2.30,...,67,32.1,171.7,92,14.59,224.4,89,10.10,0,no
4999,5000,VT,area_code_415,86,yes,34,no,9.3,16,2.51,...,102,22,267.1,104,22.70,154.8,100,6.97,0,no

In [3]:
churn.drop(columns='Unnamed: 0', inplace = True)

churn

,state,area.code,account.length,voice.plan,voice.messages,intl.plan,intl.mins,intl.calls,intl.charge,day.mins,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn
0,KS,area_code_415,128,yes,25,no,10.0,3,2.70,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,1,no
1,OH,area_code_415,107,yes,26,no,13.7,3,3.70,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,1,no
2,NJ,area_code_415,137,no,0,no,12.2,5,3.29,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,0,no
3,OH,area_code_408,84,no,0,yes,6.6,7,1.78,299.4,71,50.9,61.9,88,5.26,196.9,89,8.86,2,no
4,OK,area_code_415,75,no,0,yes,10.1,3,2.73,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,HI,area_code_408,50,yes,40,no,9.9,5,2.67,235.7,127,40.07,223,126,18.96,297.5,116,13.39,2,no
4996,WV,area_code_415,152,no,0,no,14.7,2,3.97,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,3,yes
4997,DC,area_code_415,61,no,0,no,13.6,4,3.67,140.6,89,23.9,172.8,128,14.69,212.4,97,9.56,1,no
4998,DC,area_code_510,109,no,0,no,8.5,6,2.30,188.8,67,32.1,171.7,92,14.59,224.4,89,10.10,0,no
4999,VT,area_code_415,86,yes,34,no,9.3,16,2.51,129.4,102,22,267.1,104,22.70,154.8,100,6.97,0,no

In [4]:
churn_nrow = churn.shape[0]

In [5]:
def lost_record():

    churn_nrow_now = churn.shape[0]
    lost = churn_nrow - churn_nrow_now
    lost = (lost/churn_nrow)*100
    lost = round(lost, 2)

    return print('We lost ' + str(lost) + ' % data')

## Performing EDA In Dataset

### Performing Data Preprocessing

#### Applying Descriptive Statistics

In [6]:
churn.describe()

,account.length,voice.messages,intl.mins,intl.calls,intl.charge,day.mins,day.calls,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls
count,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,100.25860,7.755200,10.261780,4.435200,2.771196,180.288900,100.029400,100.191000,17.054322,200.391620,99.919200,9.017732,1.570400
std,39.69456,13.546393,2.761396,2.456788,0.745514,53.894699,19.831197,19.826496,4.296843,50.527789,19.958686,2.273763,1.306363
min,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,73.00000,0.000000,8.500000,3.000000,2.300000,143.700000,87.000000,87.000000,14.140000,166.900000,87.000000,7.510000,1.000000
50%,100.00000,0.000000,10.300000,4.000000,2.780000,180.100000,100.000000,100.000000,17.090000,200.400000,100.000000,9.020000,1.000000
75%,127.00000,17.000000,12.000000,6.000000,3.240000,216.200000,113.000000,114.000000,19.900000,234.700000,113.000000,10.560000,2.000000
max,243.00000,52.000000,20.000000,20.000000,5.400000,351.500000,165.000000,170.000000,30.910000,395.000000,175.000000,17.770000,9.000000

#### Performing Typecasting

In [7]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           5000 non-null   object
 1   area.code       5000 non-null   object
 2   account.length  5000 non-null   int64
 3   voice.plan      5000 non-null   object
 4   voice.messages  5000 non-null   int64
 5   intl.plan       5000 non-null   object
 6   intl.mins       5000 non-null   float64
 7   intl.calls      5000 non-null   int64
 8   intl.charge     5000 non-null   float64
 9   day.mins        5000 non-null   float64
 10  day.calls       5000 non-null   int64
 11  day.charge      5000 non-null   object
 12  eve.mins        5000 non-null   object
 13  eve.calls       5000 non-null   int64
 14  eve.charge      5000 non-null   float64
 15  night.mins      5000 non-null   float64
 16  night.calls     5000 non-null   int64
 17  night.charge    5000 non-null   float64
 18  customer.calls  5000 non-null   int64
 19  churn           5000 non-null   object
dtypes: float64(6), int64(7), object(7)
memory usage: 781.4+ KB

#### Performing Missing Value Imputation

In [8]:
def missing_percentage(churn):

    m = churn.isna().sum()
    total = int(churn.shape[0])

    for i in range(len(churn.columns)):
        percentage =round((m[i]/total)*100)

        print(str(churn.columns[i]) + ' has ' + str(percentage) + ' % missing value(' + str(m[i]) + ')')

##### Missing Value Percentage

In [9]:
missing_percentage(churn)

state has 0 % missing value(0)
area.code has 0 % missing value(0)
account.length has 0 % missing value(0)
voice.plan has 0 % missing value(0)
voice.messages has 0 % missing value(0)
intl.plan has 0 % missing value(0)
intl.mins has 0 % missing value(0)
intl.calls has 0 % missing value(0)
intl.charge has 0 % missing value(0)
day.mins has 0 % missing value(0)
day.calls has 0 % missing value(0)
day.charge has 0 % missing value(0)
eve.mins has 0 % missing value(0)
eve.calls has 0 % missing value(0)
eve.charge has 0 % missing value(0)
night.mins has 0 % missing value(0)
night.calls has 0 % missing value(0)
night.charge has 0 % missing value(0)
customer.calls has 0 % missing value(0)
churn has 0 % missing value(0)

#### Finding Unique Values In Dataset

In [10]:
def uni(df):

    for i in range(len(df.columns)):
        print('\n All Unique Value in ' + str(df.columns[i]))
        print(np.sort(df[df.columns[i]].unique()))
        print('Total no of unique values ' +
              str(len(df[df.columns[i]].unique())))

In [61]:
uni(churn)

 All Unique Value in state
['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IA' 'ID'
 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC'
 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY']
Total no of unique values 51

 All Unique Value in area.code
['area_code_408' 'area_code_415' 'area_code_510']
Total no of unique values 3

 All Unique Value in account.length
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 199
 200 201 202 204 205 208 209 210 212 215 216 217 221 222 224 225 232 233
 238 243]
Total no of unique values 218

 All Unique Value in voice.plan
['no' 'yes']
Total no of unique values 2

 All Unique Value in voice.messages
[ 0  4  6  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52]
Total no of unique values 48

 All Unique Value in intl.plan
['no' 'yes']
Total no of unique values 2

 All Unique Value in intl.mins
[ 0.   0.4  1.1  1.3  2.   2.1  2.2  2.4  2.5  2.6  2.7  2.9  3.1  3.3
  3.4  3.5  3.6  3.7  3.8  3.9  4.   4.1  4.2  4.3  4.4  4.5  4.6  4.7
  4.8  4.9  5.   5.1  5.2  5.3  5.4  5.5  5.6  5.7  5.8  5.9  6.   6.1
  6.2  6.3  6.4  6.5  6.6  6.7  6.8  6.9  7.   7.1  7.2  7.3  7.4  7.5
  7.6  7.7  7.8  7.9  8.   8.1  8.2  8.3  8.4  8.5  8.6  8.7  8.8  8.9
  9.   9.1  9.2  9.3  9.4  9.5  9.6  9.7  9.8  9.9 10.  10.1 10.2 10.3
 10.4 10.5 10.6 10.7 10.8 10.9 11.  11.1 11.2 11.3 11.4 11.5 11.6 11.7
 11.8 11.9 12.  12.1 12.2 12.3 12.4 12.5 12.6 12.7 12.8 12.9 13.  13.1
 13.2 13.3 13.4 13.5 13.6 13.7 13.8 13.9 14.  14.1 14.2 14.3 14.4 14.5
 14.6 14.7 14.8 14.9 15.  15.1 15.2 15.3 15.4 15.5 15.6 15.7 15.8 15.9
 16.  16.1 16.2 16.3 16.4 16.5 16.6 16.7 16.8 16.9 17.  17.1 17.2 17.3
 17.5 17.6 17.7 17.8 17.9 18.  18.2 18.3 18.4 18.5 18.7 18.9 19.2 19.3
 19.7 20. ]
Total no of unique values 170

 All Unique Value in intl.calls
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Total no of unique values 21

 All Unique Value in intl.charge
[0.   0.11 0.3  0.35 0.54 0.57 0.59 0.65 0.68 0.7  0.73 0.78 0.84 0.89
 0.92 0.95 0.97 1.   1.03 1.05 1.08 1.11 1.13 1.16 1.19 1.22 1.24 1.27
 1.3  1.32 1.35 1.38 1.4  1.43 1.46 1.49 1.51 1.54 1.57 1.59 1.62 1.65
 1.67 1.7  1.73 1.76 1.78 1.81 1.84 1.86 1.89 1.92 1.94 1.97 2.   2.03
 2.05 2.08 2.11 2.13 2.16 2.19 2.21 2.24 2.27 2.3  2.32 2.35 2.38 2.4
 2.43 2.46 2.48 2.51 2.54 2.57 2.59 2.62 2.65 2.67 2.7  2.73 2.75 2.78
 2.81 2.84 2.86 2.89 2.92 2.94 2.97 3.   3.02 3.05 3.08 3.11 3.13 3.16
 3.19 3.21 3.24 3.27 3.29 3.32 3.35 3.38 3.4  3.43 3.46 3.48 3.51 3.54
 3.56 3.59 3.62 3.65 3.67 3.7  3.73 3.75 3.78 3.81 3.83 3.86 3.89 3.92
 3.94 3.97 4.   4.02 4.05 4.08 4.1  4.13 4.16 4.19 4.21 4.24 4.27 4.29
 4.32 4.35 4.37 4.4  4.43 4.46 4.48 4.51 4.54 4.56 4.59 4.62 4.64 4.67
 4.73 4.75 4.78 4.81 4.83 4.86 4.91 4.94 4.97 5.   5.05 5.1  5.18 5.21
 5.32 5.4 ]
Total no of unique values 170

 All Unique Value in day.mins
[  0.    2.6   6.6 ... 346.8 350.8 351.5]
Total no of unique values 1957

 All Unique Value in day.calls
[  0  30  34  35  36  39  40  42  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 156 157 158 160 163 165]
Total no of unique values 123

 All Unique Value in day.charge
[ 0.    0.44  1.12 ... 58.96 59.64 59.76]
Total no of unique values 1957

 All Unique Value in eve.mins
[  0.   22.3  31.2 ... 359.3 361.8 363.7]
Total no of unique values 1875

 All Unique Value in eve.calls
[  0  12  36  37  38  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 159 164 168 169 170]
Total no of unique values 126

 All Unique Value in eve.charge
[ 0.    1.9   2.65 ... 30.54 30.75 30.91]
Total no of unique values 1655

 All Unique Value in night.mins
[  0.   23.2  43.7 ... 381.6 381.9 395. ]
Total no of unique values 1849

 All Unique Value in night.calls
[  0  12  33  36  38  40  41  42  43  44  46  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 164
 165 166 168 170 175]
Total no of unique values 131

 All Unique Value in night.charge
[ 0.    1.04  1.97 ... 17.17 17.19 17.77]
Total no of unique values 1028

 All Unique Value in customer.calls
[0 1 2 3 4 5 6 7 8 9]
Total no of unique values 10

 All Unique Value in churn
['no' 'yes']
Total no of unique values 2

### Performing Data Cleaning

#### day.charge

In [47]:
churn[churn['day.charge'] == 'Nan'].shape

(7, 20)

In [48]:
dc = churn[churn['day.charge'] == 'Nan'].index

len(dc)

7

In [49]:
drop = []

for i in dc:
    drop.append(i)

drop

[12, 27, 47, 4407, 4755, 4965, 4992]

#### eve.mins

In [50]:
churn[churn['eve.mins'] == 'Nan'].shape

(24, 20)

In [51]:
em = churn[churn['eve.mins'] == 'Nan'].index

len(em)

24

In [52]:
for i in em:
    drop.append(i)

#### Droping All Nan Data

In [56]:
sorted(drop)

[12,
 27,
 47,
 89,
 102,
 110,
 159,
 231,
 254,
 299,
 345,
 460,
 557,
 624,
 684,
 729,
 750,
 795,
 892,
 1012,
 1099,
 1219,
 1417,
 1483,
 1625,
 1699,
 1778,
 4407,
 4755,
 4965,
 4992]

In [57]:
churn.drop(drop, inplace = True)

churn

,state,area.code,account.length,voice.plan,voice.messages,intl.plan,intl.mins,intl.calls,intl.charge,day.mins,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn
0,KS,area_code_415,128,yes,25,no,10.0,3,2.70,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,1,no
1,OH,area_code_415,107,yes,26,no,13.7,3,3.70,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,1,no
2,NJ,area_code_415,137,no,0,no,12.2,5,3.29,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,0,no
3,OH,area_code_408,84,no,0,yes,6.6,7,1.78,299.4,71,50.9,61.9,88,5.26,196.9,89,8.86,2,no
4,OK,area_code_415,75,no,0,yes,10.1,3,2.73,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,HI,area_code_408,50,yes,40,no,9.9,5,2.67,235.7,127,40.07,223,126,18.96,297.5,116,13.39,2,no
4996,WV,area_code_415,152,no,0,no,14.7,2,3.97,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,3,yes
4997,DC,area_code_415,61,no,0,no,13.6,4,3.67,140.6,89,23.9,172.8,128,14.69,212.4,97,9.56,1,no
4998,DC,area_code_510,109,no,0,no,8.5,6,2.30,188.8,67,32.1,171.7,92,14.59,224.4,89,10.10,0,no
4999,VT,area_code_415,86,yes,34,no,9.3,16,2.51,129.4,102,22,267.1,104,22.70,154.8,100,6.97,0,no

In [58]:
lost_record()

We lost 0.62 % data

#### Typecasting Column's

In [59]:
churn['day.charge'] = churn['day.charge'].apply(lambda x: float(x))
churn['eve.mins'] = churn['eve.mins'].apply(lambda x: float(x))

churn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4969 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           4969 non-null   object
 1   area.code       4969 non-null   object
 2   account.length  4969 non-null   int64
 3   voice.plan      4969 non-null   object
 4   voice.messages  4969 non-null   int64
 5   intl.plan       4969 non-null   object
 6   intl.mins       4969 non-null   float64
 7   intl.calls      4969 non-null   int64
 8   intl.charge     4969 non-null   float64
 9   day.mins        4969 non-null   float64
 10  day.calls       4969 non-null   int64
 11  day.charge      4969 non-null   float64
 12  eve.mins        4969 non-null   float64
 13  eve.calls       4969 non-null   int64
 14  eve.charge      4969 non-null   float64
 15  night.mins      4969 non-null   float64
 16  night.calls     4969 non-null   int64
 17  night.charge    4969 non-null   float64
 18  customer.calls  4969 non-null   int64
 19  churn           4969 non-null   object
dtypes: float64(8), int64(7), object(5)
memory usage: 815.2+ KB

In [62]:
uni(churn)

 All Unique Value in state
['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IA' 'ID'
 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC'
 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY']
Total no of unique values 51

 All Unique Value in area.code
['area_code_408' 'area_code_415' 'area_code_510']
Total no of unique values 3

 All Unique Value in account.length
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 199
 200 201 202 204 205 208 209 210 212 215 216 217 221 222 224 225 232 233
 238 243]
Total no of unique values 218

 All Unique Value in voice.plan
['no' 'yes']
Total no of unique values 2

 All Unique Value in voice.messages
[ 0  4  6  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52]
Total no of unique values 48

 All Unique Value in intl.plan
['no' 'yes']
Total no of unique values 2

 All Unique Value in intl.mins
[ 0.   0.4  1.1  1.3  2.   2.1  2.2  2.4  2.5  2.6  2.7  2.9  3.1  3.3
  3.4  3.5  3.6  3.7  3.8  3.9  4.   4.1  4.2  4.3  4.4  4.5  4.6  4.7
  4.8  4.9  5.   5.1  5.2  5.3  5.4  5.5  5.6  5.7  5.8  5.9  6.   6.1
  6.2  6.3  6.4  6.5  6.6  6.7  6.8  6.9  7.   7.1  7.2  7.3  7.4  7.5
  7.6  7.7  7.8  7.9  8.   8.1  8.2  8.3  8.4  8.5  8.6  8.7  8.8  8.9
  9.   9.1  9.2  9.3  9.4  9.5  9.6  9.7  9.8  9.9 10.  10.1 10.2 10.3
 10.4 10.5 10.6 10.7 10.8 10.9 11.  11.1 11.2 11.3 11.4 11.5 11.6 11.7
 11.8 11.9 12.  12.1 12.2 12.3 12.4 12.5 12.6 12.7 12.8 12.9 13.  13.1
 13.2 13.3 13.4 13.5 13.6 13.7 13.8 13.9 14.  14.1 14.2 14.3 14.4 14.5
 14.6 14.7 14.8 14.9 15.  15.1 15.2 15.3 15.4 15.5 15.6 15.7 15.8 15.9
 16.  16.1 16.2 16.3 16.4 16.5 16.6 16.7 16.8 16.9 17.  17.1 17.2 17.3
 17.5 17.6 17.7 17.8 17.9 18.  18.2 18.3 18.4 18.5 18.7 18.9 19.2 19.3
 19.7 20. ]
Total no of unique values 170

 All Unique Value in intl.calls
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Total no of unique values 21

 All Unique Value in intl.charge
[0.   0.11 0.3  0.35 0.54 0.57 0.59 0.65 0.68 0.7  0.73 0.78 0.84 0.89
 0.92 0.95 0.97 1.   1.03 1.05 1.08 1.11 1.13 1.16 1.19 1.22 1.24 1.27
 1.3  1.32 1.35 1.38 1.4  1.43 1.46 1.49 1.51 1.54 1.57 1.59 1.62 1.65
 1.67 1.7  1.73 1.76 1.78 1.81 1.84 1.86 1.89 1.92 1.94 1.97 2.   2.03
 2.05 2.08 2.11 2.13 2.16 2.19 2.21 2.24 2.27 2.3  2.32 2.35 2.38 2.4
 2.43 2.46 2.48 2.51 2.54 2.57 2.59 2.62 2.65 2.67 2.7  2.73 2.75 2.78
 2.81 2.84 2.86 2.89 2.92 2.94 2.97 3.   3.02 3.05 3.08 3.11 3.13 3.16
 3.19 3.21 3.24 3.27 3.29 3.32 3.35 3.38 3.4  3.43 3.46 3.48 3.51 3.54
 3.56 3.59 3.62 3.65 3.67 3.7  3.73 3.75 3.78 3.81 3.83 3.86 3.89 3.92
 3.94 3.97 4.   4.02 4.05 4.08 4.1  4.13 4.16 4.19 4.21 4.24 4.27 4.29
 4.32 4.35 4.37 4.4  4.43 4.46 4.48 4.51 4.54 4.56 4.59 4.62 4.64 4.67
 4.73 4.75 4.78 4.81 4.83 4.86 4.91 4.94 4.97 5.   5.05 5.1  5.18 5.21
 5.32 5.4 ]
Total no of unique values 170

 All Unique Value in day.mins
[  0.    2.6   6.6 ... 346.8 350.8 351.5]
Total no of unique values 1957

 All Unique Value in day.calls
[  0  30  34  35  36  39  40  42  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 156 157 158 160 163 165]
Total no of unique values 123

 All Unique Value in day.charge
[ 0.    0.44  1.12 ... 58.96 59.64 59.76]
Total no of unique values 1957

 All Unique Value in eve.mins
[  0.   22.3  31.2 ... 359.3 361.8 363.7]
Total no of unique values 1875

 All Unique Value in eve.calls
[  0  12  36  37  38  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 159 164 168 169 170]
Total no of unique values 126

 All Unique Value in eve.charge
[ 0.    1.9   2.65 ... 30.54 30.75 30.91]
Total no of unique values 1655

 All Unique Value in night.mins
[  0.   23.2  43.7 ... 381.6 381.9 395. ]
Total no of unique values 1849

 All Unique Value in night.calls
[  0  12  33  36  38  40  41  42  43  44  46  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 164
 165 166 168 170 175]
Total no of unique values 131

 All Unique Value in night.charge
[ 0.    1.04  1.97 ... 17.17 17.19 17.77]
Total no of unique values 1028

 All Unique Value in customer.calls
[0 1 2 3 4 5 6 7 8 9]
Total no of unique values 10

 All Unique Value in churn
['no' 'yes']
Total no of unique values 2

### Checking for Duplicated Values

In [60]:
churn[churn.duplicated()]

Empty DataFrame
Columns: [state, area.code, account.length, voice.plan, voice.messages, intl.plan, intl.mins, intl.calls, intl.charge, day.mins, day.calls, day.charge, eve.mins, eve.calls, eve.charge, night.mins, night.calls, night.charge, customer.calls, churn]
Index: []

- There is no duplicate vale in are dataset

### Visualizing The Data